<header id="page-topbar" style="background-image: url(assets/images/hori-nav-bg.png)">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-dark-sm.png" alt="" height="50">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="50">
                    </span>
                </a>

                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-light-sm.png" alt="" height="50">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="50">
                    </span>
                </a>
            </div>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 float-left d-lg-none header-item waves-effect waves-light"
            data-toggle="collapse" data-target="#topnav-menu-content">
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div class="d-flex">

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect"
                    id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-sm" data-feather="bell"></i>
                    <span class="noti-dot bg-danger"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="m-0 font-size-15" key="t-notifications"> Notifications </h5>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small" key="t-mark-read"> Mark all as read</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="#" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="uil-shopping-basket"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1" key="t-order-placed">Your order is placed</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1" key="t-anguages-grammar">If several languages coalesce
                                            the grammar</p>
                                        <p class="mb-0" key="t-3-min-ago"><i class="mdi mdi-clock-outline"></i>
                                            3 min ago</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                            <i class="uil-arrow-circle-right mr-1"></i> <span key="t-view-more">View
                                More..</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-4.jpg"
                        alt="Header Avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i
                            class="uil uil-user-circle font-size-16 align-middle text-muted mr-1"></i> <span
                            class="align-middle" key="t-view"> View Profile</span></a>
                    <a class="dropdown-item" href="#"><i
                            class="uil uil-sign-out-alt font-size-16 align-middle mr-1 text-muted"></i> <span
                            class="align-middle" key="t-sign-out"> Sign out</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="topnav">
            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">
                        <a class="nav-link dropdown-toggle arrow-none" href="/dashboard" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="icon nav-icon" data-feather="home"></i>
                            <span>Dashboards</span>
                        </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon nav-icon" data-feather="grid"></i>
                                <span key="t-apps">Data Master</span>
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                <a href="?pages/data-master/data-jurusan" class="dropdown-item" key="t-calendar">Data
                                    Jurusan</a>
                                <a href="?pages/data-master/data-mahasiswa" class="dropdown-item" key="t-chat">Data
                                    Mahasiswa</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon nav-icon" data-feather="book"></i>
                                <span key="t-apps">Akademik</span>
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                <a href="/pages/akademik/seminar-proposal" class="dropdown-item"
                                    key="t-calendar">Seminar Proposal</a>
                                <a href="/pages/akademik/seminar-hasil" class="dropdown-item" key="t-calendar">Seminar
                                    Hasil</a>
                                <a href="/pages/akademik/sidang-terbuka" class="dropdown-item" key="t-calendar">Sidang
                                    Terbuka</a>
                                <a href="/pages/akademik/panduan" class="dropdown-item" key="t-calendar">Panduan</a>
                            </div>
                        </li>

                        <a class="nav-link dropdown-toggle arrow-none" href="/pages/informasi-umum" id="topnav-pages"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon nav-icon" data-feather="info"></i>
                            <span key="t-dashboards">Informasi Umum</span>
                        </a>

                        <a class="nav-link dropdown-toggle arrow-none" href="/pages/saran-mahasiswa" id="topnav-pages"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="icon nav-icon" data-feather="list"></i>
                            <span key="t-dashboards">Saran Mahasiswa</span>
                        </a>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon nav-icon" data-feather="users"></i>
                                <span key="t-apps">Admin Area</span>
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                <a href="/pages/admin/manajemen-akses" class="dropdown-item">Manajemen Akses</a>
                                <a href="/pages/admin/data-admin-staff" class="dropdown-item">Data Admin & Staff</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>